.search_divider {
  border-radius: var(--mantine-radius-xxs);
  margin-top: 13px;
  margin-bottom: 51px;
  width: 160px;
}

.btn_add {
  color: var(--mantine-color-primitive-blue-0);
  background: var(--mantine-color-primitive-blue-5);

  border-radius: 3px;
  font-size: 13px;
  padding: 6px 12px;
}

.btn_section {
  margin-right: 8px;
}
