.card {
  border: 1px solid var(--mantine-color-primitive-gray-2);
  border-radius: var(--mantine-radius-sm);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.03);
  row-gap: var(--mantine-spacing-md);
}

.btn_section {
  margin-right: 4px;
}

.btn_root_not_confirmed {
  color: var(--mantine-color-primitive-red-9);
  border: 1px solid var(--mantine-color-primitive-red-5);
  background: var(--mantine-color-primitive-red-0);

  border-radius: var(--mantine-radius-xs);
  margin-top: 21px;
  font-size: 12px;
  padding: 10px 12px 10px 8px;
}

.btn_root_confirmed {
  color: var(--mantine-color-primitive-green-9);
  border: 1px solid var(--mantine-color-primitive-green-5);
  background: var(--mantine-color-primitive-green-0);

  border-radius: var(--mantine-radius-xs);
  margin-top: 21px;
  font-size: 12px;
  padding: 10px 12px 10px 8px;
}
