.checkbox_root {
  --checkbox-color: var(--mantine-color-primitive-blue-5);
}

.button_root {
  border-radius: var(--mantine-radius-xs);
  font-size: var(--mantine-font-size-xs);
  padding: 8px 16px;

  &[data-variant="primary"] {
    color: var(--mantine-color-primitive-blue-0);
    background: var(--mantine-color-primitive-blue-5);
  }

  &[data-variant="outline"] {
    color: var(--mantine-color-primitive-blue-5);
    border: 1px solid var(--mantine-color-primitive-blue-1);
    background: var(--mantine-color-primitive-blue-0);
  }
}

.heading {
  &:is(h4) {
    color: var(--mantine-color-primitive-gray-8);
    font-size: var(--mantine-font-size-xl);
    font-weight: 600;
  }

  &:is(h5) {
    font-size: var(--mantine-font-size-md);
    font-weight: 600;
    line-height: 24px;
  }
}

.input {
  border: 1px solid var(--mantine-color-primitive-gray-3);
  border-radius: var(--mantine-radius-xs);
  padding: 10px 8px 10px 12px;
  font-size: var(--mantine-font-size-xs);
  line-height: 16px;
  font-weight: 500;

  &::placeholder {
    color: var(--mantine-color-primitive-gray-4);
  }
}

.label {
  color: var(--mantine-color-primitive-gray-6);
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
  margin-bottom: 5px;
}

.button_label {
  font-weight: 500;
}

.checkbox_input {
  border-radius: 0px;
}

.checkbox_label {
  color: var(--mantine-color-primitive-gray-8);
  font-size: var(--mantine-font-size-xs);
  font-weight: 500;
}

.checkbox_icon {
  width: 13px;
}

.modal_content {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: var(--mantine-radius-sm);
}

.modal_header {
  padding: 24px;
}

.modal_body {
  padding: 24px;
  padding-top: 8px;
}
